<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> 

        <title>Document</title>
    </head>
    <body>
        <div>실습</div>
        
        <form>
            <h1>로그인</h1>
            <label for="id">아이디</label>
            <input type="text" id="id"><br>
            <label for="pw">비밀번호</label>
            <input type="password" id="pw">
            <button type="button" onclick="log()">로그인</button>
        </form>
        

        <script>
            const userInfo = {id:"yk",pw:1214}

            async function log(){
                userid : document.querySelector('#userid')
            }
        </script>
        
    </body>
</html>
